@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;700&display=swap');
*{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 25vh; 
    min-height: 100vh;
    position: relative;
    
}

header .container{
    max-width: 1400px;
    margin: auto;
    box-shadow: 3px 3px 3px gray;
}
.inicio{
    background-color: bisque;
    height: 80px;
    width: 100%;

}

.clientes{
    background-color: #ee6e72;
    height: 80px;
    width: 100%;
}
.clientesP{
    background-color: #aadebc;
    height: 80px;
    width: 100%;
}

nav.container{
    max-width: 500px;
}
.ulmenu{
    display: inline-flex;
    margin: 0;
    box-sizing: border-box;
    
}

.logo{
    max-height: 80px;
    height: 75px;
    position: absolute;
}

.enlace{
    position: absolute;
    padding: 0px 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-flex;
    text-align: center;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 3vh;
    padding: 8px 15px;
   
}
nav ul li a:hover{
    color: rgb(255, 255, 255);   /* Cambiar ese color */
}
.container1{
   display: flex;
}
.container2{
    width: 500px;
    padding-top: 30px;
    padding-left: 50px;
}

.container3{
    padding-top: 30px;
    padding-right: 50px; 
    float: right;
    width: 700px;
}


.formulario{
    width:95%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.entrada_texto{
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #dcd7d7;
    border: none;
    padding: 7px;
    
}



#imagen{
    padding: 10px;
    width: 80%;
    height: 60%;
   left: -5vw;
    border-radius: 50%;
    background-color: #dcd7d7;
    border: none;
  
}



#descripcion{
    padding: 40px 55px;
    background-color: #dcd7d7;
    border: none;
    margin: auto;
   
}

label#descripcion_label{
    margin-left: 2vw;
}

.boton{
    background-color: #ee6e72;
    color: #f2f2f2;
    font-size: 16px;
    border-radius: 6px;
    padding: 12px 22px;
    border: 1.75px solid #3AB199;
    margin: auto;
}

.boton:hover{
    background-color: #d24146;
}

#nombre{
  padding: 10px 30px;
    width: 50%;
    left: -5vw;
}

#apellido{
    padding: 10px 50px;
    width: 50%;
}
#email{
    padding: 10px 150px;

    width: 40%;
}

#telefono{
    width: 60%;
}

.custom-input-file {
    background-color: #03640a;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  
    left: -5vw;
    bottom: 6vh;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
  
   top: -1000px;
  }

.subir_foto{
      width: 25px;
      height: 25px;
      padding: 5px;
      z-index: 500;
  }

  main section {
      display: flex;
  }

  .formulario ul{
      display: flex;
  }

  .foto-cliente{
      width: 30%;
      height: 20%;
      border-radius: 50%;

  }
footer{
    height: 80px;
    background-color: bisque;
    text-align: center;
    bottom: 0;
    width: 100%;
}

