@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;700&display=swap');
*{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body{
    background-color: #f2f2f2;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width:952px){
    .enlace{
        padding-left: 20px;
    }

    nav ul li a{
        font-size: 16px;
    }

}
.container{
    max-width: 1400px;
    margin: auto;
}
.inicio{
    background-color: bisque;
    height: 80px;
    width: 100%;

}

.clientes{
    background-color: #ee6e72;
    height: 80px;
    width: 100%;
}
.clientesP{
    background-color: #aadebc;
    height: 80px;
    width: 100%;
}

nav.container{
    max-width: 500px;
}
.ulmenu{
    display: inline-flex;
    margin: 0;
    box-sizing: border-box;
    
}

.logo{
    max-height: 80px;
    height: 75px;
    position: absolute;
}

.enlace{
    position: absolute;
    padding: 0px 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-flex;
    text-align: center;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 20px;
    padding: 8px 15px;
   
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.Dclient{
    padding-left: 50px;
}

.caracteristicas{
   text-align: right;
   padding-right: 50px;
   clear: both;
}

#img1{
max-width: 400px;
max-height: 400px;
float :right;
padding-right: 50px;
}

#img2{
    max-width: 400px;
    max-height: 400px;
    float :left;
    padding-left: 50px;
}

.equipo{
   text-align: center;
   clear: both;
}

footer{
    height: 80px;
    background-color: bisque;
    text-align: center;
}
